{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<head>
    <title>Upcoming Events</title>
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}"/>
    <link type="text/css" href="static/css/event_style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>

        html {
            scroll-behavior: smooth;
        }

        .fields {
            display: block;
        }

    </style>
</head>

    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec 
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 4000); // <-- time in milliseconds
            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>
    <script>
        function myFunction() {
          var x = document.getElementById("erf");
          if (x.className === "reg-forms") {
            x.className += " responsive";
          } else {
            x.className = "reg-forms";
          }
        }
    </script>



<body>

    {% if events %}
        {% for event in events %}
        {% if forloop.last %}
        <body background="{{ event.image.url }}"
            style="background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            ">
            
            <div class="event-register-form" id="erf" style="background-color: white; padding: 20px; opacity:0.94; width: max-content;">
                <h1>{{ event.title}}</h1>
                Will be held on {{ event.date }},
                {{ event.time }},
                at {{ event.venue }}

                <h3>Register here</h3>
                <form class="reg-forms" method="POST">
                    {% csrf_token %}
                    <div class = "fields">
                        <!-- {{ form|crispy }} -->
                        {{ form.name|as_crispy_field }}
                        <br>
                        {{ form.branch|as_crispy_field }}
                        <br>
                        {{ form.year|as_crispy_field }}
                        <br>
                        {{ form.email|as_crispy_field }}

                        <br>
                        Not for participants.
                        <br>
                        {{ form.present|as_crispy_field }}
                    </div>
                        

                    <br>
                    <input type="submit" class="button" value="Ready">
                </form>

                {% for message in messages %}
                <div class="message">
                    {{ message }}
                    <a href="" class="del-msg">&times;</a>
                </div>
                {% endfor %}


                <div style="background-color: transparent; width: max-content;">
                    <h2><a href="{% url 'show_gallery' %}" style="color: red;">Click to see Events Gallery</h2>
                </div>


            </div>
        {% endif %}
        {% endfor %}
    {% else %}
        <h1>No active/upcoming events right now. If any event is going on currently, it's online registration must have been closed, offline registration maybe there at the venue.</h1>
    {% endif %}        
    

</div>

</body>

</html>
