{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Newsletter</title>
</head>
<body>
    <form  id="news_doc_form" method="POST" enctype="multipart/form-data" class="col-4"> <!-- action="{% url 'pdf_upload' %}" -->
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Send !</button>
    </form>
    {% for message in messages %}
        {{message}}
    {% endfor %}
</body>
</html>
{% endblock %}