{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Newsletter</title>
</head>
<body>
    <form  action="{% url 'pdf_upload' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <label for="subject">Subject: </label>
        <input type="text" name="subject" id="subject" required >
        <br><br>
        <label for="message">Message</label>
        <input type="text" name="message" id="message" required >
        <br><br>
        <label for="file">PDF</label>
        <input type="file" name="file" id="file">
        <br><br>
        <button type="submit">Send !</button>
    </form>
</body>
</html>
